<div class=" pr-0 text-white pt-4" id="login" tabindex="-1" role="dialog" aria-labelledby="modelTitle"
  aria-hidden="true" #loginModal>
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-md vertical-align-center" role="document">
      <div class="modal-content">

        <div class="modal-header">

          <h2 class="modal-title text-center ">{{'login.title' | translate}}


          </h2>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 pd-0-30">
              <form class="signInForm" [formGroup]="login">
                <div class="form-group mb-2">
                  <label>{{'login.placeholders.username' | translate}}</label>
                  <input type="text" class="form-control round-corner" formControlName="username"
                    aria-describedby="emailHelpId" placeholder="{{'login.placeholders.username' | translate}}">
                  <div class="text-danger" *ngIf="login.controls.username.touched && login.controls.username.invalid">
                    <div *ngIf="login.controls.username.errors.required">
                      {{'login.validation.username.required' | translate}}</div>
                  </div>
                </div>
                <div class="form-group mb-2 position-relative ">
                  <label>{{'login.placeholders.password' | translate}}</label>

                  <i class="fa" [ngClass]="{'fa-eye-slash': passwordShowStatus, 'fa-eye': !passwordShowStatus}"
                    (click)="passwordShowStatus = !passwordShowStatus"></i>

                  <input [type]="passwordShowStatus ? 'password' : 'text'" class="form-control round-corner"
                    formControlName="password" placeholder="{{'login.placeholders.password' | translate}}">
                  <div class="text-danger" *ngIf="login.controls.password.touched && login.controls.password.invalid">
                    <div *ngIf="login.controls.password.errors.required">
                      {{'login.validation.password.required' | translate}}</div>
                  </div>
                </div>
                <div class=" ">
                  <div id="kc-form-options">
                    <div class="checkbox">
                      <label>
                        <input tabindex="3" id="rememberMe" name="rememberMe" type="checkbox">
                        {{'login.placeholders.rememberme' | translate}}
                      </label>
                    </div>
                  </div>
                  <p class="text-left">
                    <a href="javascript:;" class="highlight-link"
                      [routerLink]="['/forgot']">{{'login.placeholders.forgotpassword' | translate}}</a>
                  </p>
                </div>
                <button class="btn btn-block btn-success text-white"
                  (click)="onLogin()">{{'login.title' | translate}}</button>
                <p class="text-center my-2">{{'SignUp.placeholders.or' | translate}}</p>

                <p class="text-center mt-3">{{'login.loginButton.newuser' | translate}}
                  <a href="javascript:;" class="font-weight-bold highlight-link"
                    routerLink="/signup">{{'login.loginButton.registernow' | translate}}</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>