.btn {
  border-radius: 50px;
  border: 1px solid #2e6d4a;
  cursor: pointer;
}

.navbar {
  padding: 0.5rem 4rem;
  box-shadow: 0 0px 3px #f1f1f1;
  height: 70px;
}

.navbar-brand img {
  max-width: 65px;
  transition: 0.3s all;
}

.sticky .navbar-brand img {
  max-width: 55px;
  transition: 0.3s all;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background: #fbfbfb;
  left: 0;
  height: 60px;
  padding: 0 4rem;
  transition: 0.3s all;
}

.dropdown-menu {
  min-width: 9rem;
}