<div class=" pr-0 text-white pt-5" id="forgotPW" tabindex="-1" role="dialog" aria-labelledby="forgotPassword"
  aria-hidden="true">

  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-md vertical-align-center" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title text-center mb-2 modal-title">{{'forgotpassword.title' | translate}}</h2>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
              <p class="forgot-p">{{'forgotpassword.message' | translate}}</p>
              <form class="signInForm" [formGroup]="forgotForm">
                <div class="form-group">
                  <input type="email" class="form-control round-corner" formControlName="email" placeholder="Email">
                  <div *ngIf="forgotForm.controls.email.invalid && forgotForm.controls.email.touched"
                    class="text-danger">
                    <div *ngIf="forgotForm.controls.email.errors.required">
                        {{'SignUp.validation.email.required' | translate}}                    </div>
                  </div>
                </div>

                <button class="btn btn-block btn-success round-corner text-white text-uppercase"
                  (click)="forgetPassword()">{{'forgotpassword.placeholders.Submit' | translate}}</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>