
<app-sub-header></app-sub-header>
<nav class="navbar navbar-expand-lg navbar-light bg-white header" id="myHeader">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/logo.svg" alt="Doctor Box">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" (click)="triggerLoginModal()"
          *ngIf="!loginCheck()">{{'login.title' | translate}}/{{'SignUp.title' | translate}}</a>
      </li>
      <li class="nav-item dropdown" *ngIf="loginCheck()">
        <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="roleCheck()"> Doctor
        </a>
        <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="!roleCheck()"> Patient
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logout()" *ngIf="loginCheck()"><i class="fas fa-sign-out-alt"></i>
            Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>