<app-auth-modal>
  <div class="modal-header">
    <h2 class="modal-title text-center "> {{'SignUp.title' | translate}}</h2>
  </div>
  <div class="form-section">
    <form class="signInForm" [formGroup]="signupForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>{{'SignUp.placeholders.firstName' | translate}}</label>
            <input type="text" formControlName="firstname" class="form-control round-corner"
              placeholder="{{'SignUp.placeholders.firstName' | translate}}">
            <div class="text-danger"
              *ngIf="signupForm.controls.firstname.touched && signupForm.controls.firstname.invalid">
              <div *ngIf="signupForm.controls.firstname.errors.required">
                {{'SignUp.validation.Name.FirstName' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>{{'SignUp.placeholders.lastName' | translate}}</label>
            <input type="text" formControlName="lastname" class="form-control round-corner"
              placeholder="{{'SignUp.placeholders.lastName' | translate}}">
            <div class="text-danger"
              *ngIf="signupForm.controls.lastname.touched && signupForm.controls.lastname.invalid">
              <div *ngIf="signupForm.controls.lastname.errors.required">
                {{'SignUp.validation.Name.SeconName' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-2 position-relative">
            <label>{{'SignUp.placeholders.username' | translate}}</label>
            <i class="fas" [ngClass]="{'fa-user-times': verifyUsername, 'fa-user-check': !verifyUsername}"></i>
            <input type="text" formControlName="username" class="form-control round-corner"
              (ngModelChange)="usernameVerfication(signupForm.controls.username.value)"
              placeholder="{{'SignUp.placeholders.username' | translate}}">
            <div class="text-danger" *ngIf="verifyUsername">
              {{'SignUp.validation.username.alreadyexist' | translate}}
            </div>
            <div class="text-danger"
              *ngIf="signupForm.controls.username.touched && signupForm.controls.username.invalid">
              <div *ngIf="signupForm.controls.username.errors.required">
                {{'SignUp.validation.username.required' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-2 position-relative">
            <label>{{'SignUp.placeholders.email' | translate}}</label>
            <i class="fas " [ngClass]="{'fa-user-times': verifyEmail, 'fa-user-check': !verifyEmail}"></i>
            <input type="email" formControlName="email" class="form-control round-corner"
              (ngModelChange)="emailVerfication(signupForm.controls.email.value)"
              placeholder="{{'SignUp.placeholders.email' | translate}}">
            <div class="text-danger" *ngIf="verifyEmail">
              {{'SignUp.placeholders.checkemail' | translate}}
            </div>
            <div class="text-danger" *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
              <div *ngIf="signupForm.controls.email.errors.required">
                {{'SignUp.validation.email.required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-2">
            <label>{{'login.placeholders.password' | translate}}</label>
            <input [type]="passwordShowStatus ? 'password' : 'text'" formControlName="password"
              class="form-control round-corner" placeholder="{{'login.placeholders.password' | translate}}">
            <div class="text-danger"
              *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
              <div *ngIf="signupForm.controls.password.errors.required">
                {{'login.validation.password.required' | translate}}</div>
              <div *ngIf="signupForm.controls.password.errors.pattern">
                {{'SignUp.validation.password.passlength' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-2 position-relative ">
            <label> {{'SignUp.placeholders.confirm' | translate}}
            </label>
            <i class="fa" [ngClass]="{'fa-eye-slash': passwordShowStatus, 'fa-eye': !passwordShowStatus}"
              (click)="passwordShowStatus = !passwordShowStatus"></i>

            <input #confirmPassword [type]="passwordShowStatus ? 'password' : 'text'" class="form-control round-corner"
              placeholder="{{'SignUp.placeholders.confirm' | translate}} ">
            <div class="text-danger" *ngIf="signupForm.controls.password.value != confirmPassword.value">
              {{'SignUp.validation.password.confirmpass' | translate}} </div>
          </div>

        </div>
        <div class="col-sm-12">
          <label class="switch">
            <input type="checkbox" formControlName="doctor" [checked]="signupForm.controls.doctor.value">
            <span class="slider round"></span>
            <span class="doc" *ngIf="signupForm.controls.doctor.value">|
              {{'SignUp.placeholders.doctor' | translate}} </span>
            <span class="doc" *ngIf="!signupForm.controls.doctor.value">|
              {{'SignUp.placeholders.patient' | translate}}</span>
          </label>

          <button class="btn btn-block btn-success text-white"
            (click)="signUp()">{{'SignUp.placeholders.Register' | translate}}</button>
          <p class="text-center mt-1">{{'SignUp.placeholders.or' | translate}}</p>

          <p class="text-center">{{'SignUp.placeholders.checkforAlready' | translate}}
            <a class="font-weight-bold highlight-link" [routerLink]="['/login']">
              {{'SignUp.placeholders.sign' | translate}}
            </a>
          </p>
        </div>
      </div>
    </form>
  </div>
</app-auth-modal>