
<div class="container-fluid pd-0">
  <div class="bg-cover">
    <div class="intro-section">
      <h2>
        Your Digital <br>
        Health Record
      </h2>
      <p>
        With the DoctorBox App, your health data is stored and organized seamlessly in one central location. Get back
        the overview and control of your data and optimize your medical care.
      </p>
      <div class="playstore">
        <img src="../../../../assets/img/playstore.png" alt="Play Store">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid pd-0">
  <div class="bg-cover">
    <div class="intro-section">
      <h2>
        Your Digital<br>
        Health Record
      </h2>
      <p>
        With the DoctorBox App, your health data is stored and organized seamlessly in one central location. Get back
        the overview and control of your data and optimize your medical care.
      </p>
      <div class="playstore">
        <img src="../../../../assets/img/playstore.png" alt="Play Store">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid pd-0">
  <div class="bg-cover">
    <div class="intro-section">
      <h2>
        Your Digital <br>
        Health Record
      </h2>
      <p>
        With the DoctorBox App, your health data is stored and organized seamlessly in one central location. Get back
        the overview and control of your data and optimize your medical care.
      </p>
      <div class="playstore">
        <img src="../../../../assets/img/playstore.png" alt="Play Store">
      </div>
    </div>
  </div>
</div>