/* .reset-passwrod {
  max-width: 400px;
  box-shadow: 0 0 5px #ccc;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 1px !important;
}

.btn {
  border: 1px solid #2e6d4a;
  cursor: pointer;
  background: #2e6d4a !important;
  width: 100%;
}

.heading-title {
  margin: 0 auto;
  color: #0c6e3f;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
} */