<app-auth-modal>
  <div class="modal-header">
    <h2 class="modal-title text-center mb-2 modal-title">{{'resetPassword.title' | translate}}</h2>
  </div>
  <div class="form-section">
    <form [formGroup]="resetForm">
      <div class="form-group position-relative">
        <label>{{'resetPassword.newPassword' | translate}}</label>
        <input formControlName="newPassword" [type]="passwordShowStatus ? 'password' : 'text'" class="form-control"
          placeholder="{{'resetPassword.newPassword' | translate}}">

        <div class="text-danger" *ngIf="newPassword.touched && newPassword.invalid">
          <div *ngIf="newPassword.errors.required">
            {{'resetPassword.required' | translate}} </div>
        </div>
      </div>
      <div class="form-group position-relative">
        <i class="fa" [ngClass]="{'fa-eye-slash': passwordShowStatus, 'fa-eye': !passwordShowStatus}"
          (click)="passwordShowStatus = !passwordShowStatus"></i>

        <label>{{'resetPassword.confirmpass' | translate}}</label>
        <input formControlName="confirmPassword" [type]="passwordShowStatus ? 'password' : 'text'" class="form-control"
          placeholder="Confirm Password">
        <div class="text-danger" *ngIf="newPassword.value != confirmPassword.value">
          {{'resetPassword.matchpass' | translate}}
        </div>
        <div class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors.required">
            {{'resetPassword.confirmpassrequired' | translate}}
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="resetServ.resetPassword(resetForm)"> {{'resetPassword.reset' | translate}}
        </button>
      </div>
    </form>
  </div>
</app-auth-modal>