<section class="section-half text-center">
    <h1 class="heading-404"><i class="fa fa-ban"></i> {{'pageNotFound.OOPS' | translate}}</h1>
    <h1 class="not-found">{{'pageNotFound.Somethingwentwrong' | translate}}</h1>
    <h3>{{'pageNotFound.notFound' | translate}}</h3>
    <p>{{'pageNotFound.Visit' | translate}} <a href="" class="clr_blue">{{'pageNotFound.support' | translate}}</a> {{'pageNotFound.anyquestions' | translate}}</p><a class="footer-logo"> <img
            src="../../assets/img/logo.svg" /> </a>
</section>