<div class="reset-passwrod">
  <h3 class="heading-title">{{'resetPassword.title' | translate}}</h3>
  <form [formGroup]="RestForm">
    <div class="form-group position-relative">
      <label>{{'resetPassword.newPassword' | translate}}</label>
      <input formControlName="newPassword" [type]="passwordShowStatus ? 'password' : 'text'" class="form-control"
        placeholder="{{'resetPassword.newPassword' | translate}}">

      <div class="text-danger" *ngIf="resetForm.newPassword.touched && resetForm.newPassword.invalid">
        <div *ngIf="resetForm.newPassword.errors.required">
          {{'resetPassword.required' | translate}}        </div>
      </div>
    </div>
    <div class="form-group position-relative">
      <i class="fa" [ngClass]="{'fa-eye-slash': passwordShowStatus, 'fa-eye': !passwordShowStatus}"
        (click)="passwordShowStatus = !passwordShowStatus"></i>

      <label>{{'resetPassword.confirmpass' | translate}}</label>
      <input formControlName="confirmPassword" [type]="passwordShowStatus ? 'password' : 'text'" class="form-control"
        placeholder="Confirm Password">
      <div class="text-danger" *ngIf="resetForm.newPassword.value != resetForm.confirmPassword.value">
        {{'resetPassword.matchpass' | translate}}
      </div>
      <div class="text-danger" *ngIf="resetForm.confirmPassword.touched && resetForm.confirmPassword.invalid">
        <div *ngIf="resetForm.confirmPassword.errors.required">
          {{'resetPassword.confirmpassrequired' | translate}}
        </div>
      </div>
    </div>

    <div class="col-lg-6">
        <div class="container-fluid ">
            <div class="ml-auto select-container form-group">
              <select class="form-control" (change)="switchLanguage($event.target.value)">
                <option value="de" disabled>Language</option>
                <option value="en">English</option>
                <option value="de" selected>Germen</option>
              </select>
            </div>
          </div>
      </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="resetPassword()">   {{'resetPassword.reset' | translate}}
      </button>
    </div>
  </form>
</div>